.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; 
    color: black;
    border: 1px solid hsl(228, 27.9%, 12%);
    height: 200px;
    /* border-radius: 200px; */
    overflow: auto;
    cursor: pointer;
    text-align: center;
}
@media screen and (max-width: 600px){
    .tile{
        height: 80px;
        /* border-radius: 200px; */
    }
}