.wrapper{
    margin-left: 0;
    margin-right: 0;
    margin-top: 54px;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
}
.toolsDrop{
    position: fixed;
    left: 0;
    top: 30vh;
}
@media screen and (min-height:1000px){
    .toolsDrop{
        top: 40vh;
    }
}